<%- include('includes/header'); %>
  <section class="container">
    <h1>
     <!-- <%- typeof titulo !== "undefined" ? titulo : undefined %> -->

     <!-- <% numeros.forEach(num => { %>
        <%= num %><br>
     <%}) %> -->

     <!--for classico, se utiliza let
      <% for(let i = 0; i < numeros.length; i++) { %>
        <%= numeros[i] %> <br>
      <%} %>-->
        <%=titulo%>
    </h1>

    <h1><%= csrfToken%></h1>

    <form action="/" method="post">

      <label >Cliente</label>
      <!-- Um campo oculto permite que os devs incluam dados que não podem ser vistos ou modificados pelos usuários quando um formulário é enviado. -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
      <input type="text" name="cliente">
      <button type="submit" >Enviar</button> 

    </form>

    <p id="demo"></p>
  </section>

<%- include('includes/footer') %>